@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 
 #cookie table, th, td {
    border: 1px solid gold;
    font-family: 'Pacifico', cursive;


}
#bo{
    background-color: rgb(199, 59, 59);
}
body header h1 {
    text-align: center;
    color: gold;
    background-color: rgb(219, 71, 51);
    padding: 50px;
    font-size: 30px;
    font-weight: 500;
    border: 10px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
}
.nav12{
    display: ruby;
    border:20px green;
    font-style: oblique;
    padding: 30px;
    margin-right: 250px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    background-color: gold;
}
.nav1 .ind {
    display: ruby;
    border:20px green;
    font-style: oblique;
    padding: 30px;
    margin-right: 250px;
    font-size: 30px;
    text-decoration: none;
    background-color: gold;
  
}
.nav1 .sal {
    display: ruby-text;
    font-style: oblique;
    padding: 30px;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: gold;
}

.img1 {
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(23, 36, 206);
    width: auto;
}
main h2 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    background-color: hotpink;
    margin-top: 0px;

}
main h3 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    background-color: rgb(212, 78, 16);
    margin-top: 0px;


}
#list {
    font-size: 30px;
    padding-left: 200px;
    display:list-item;
    text-decoration: ivory;
    background-color: rgb(170, 81, 93);
    list-style-position: outside;
    font-family: 'Pacifico', cursive;
  
}
main h4 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
   list-style-position: outside;
    background-color: rgb(151, 14, 33);
    font-family: 'Pacifico', cursive;
    

}
footer{
    text-align: center;
    background-color: rgb(248, 245, 42);
    padding: 10px;
}